################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/Snow.Calendar.Web/bin
/src/Snow.Calendar.Web/obj
/src/Snow.Calendar.Desktop/bin
/src/Snow.Calendar.Desktop/obj
.vshistory/
