@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>因不可抗力原因服务器发生了错误,请稍后重试或联系系统管理员处理!感谢您的支持与理解!</h1>
</body>
</html>